[submodule "submodules/Ardwiino"]
	path = submodules/Ardwiino
	url = https://github.com/sanjay900/Ardwiino
[submodule "submodules/hidapi"]
	path = submodules/hidapi
	url = https://github.com/libusb/hidapi
