[Desktop Entry]
Type=Application
Name=Guitar Configurator
Comment=Application for configuring Ardwiino Guitars
Exec=guitar-configurator
Icon=icon
Categories=Utility;