<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>Created by Qt/QMake</string>
        <key>CFBundleIdentifier</key>
        <string>@BUNDLEIDENTIFIER@</string>
        <key>CFBundleSignature</key>
        <string>ttxt</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>SecTaskAccess</key>
        <array>
          <string>allowed</string>
          <string>debug</string>
        </array>
        <key>NOTE</key>
        <string>Guitar Configurator by TangentMC</string>
</dict>
</plist>
