<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Guitar Configurator</Name>
    <Version>1.0.0</Version>
    <Title>Ardwiino Guitar Configurator</Title>
    <Publisher>TangentMC</Publisher>
    <StartMenuDir>Ardwiino Configurator</StartMenuDir>
    <TargetDir>@ApplicationsDir@/TangentMC/GuitarConfigurator</TargetDir>
</Installer>
<RemoteRepositories>
     <Repository>
             <Url>https://sanjay900.github.io/guitar-configurator/repository</Url>
             <Enabled>1</Enabled>
             <DisplayName>Main repository</DisplayName>
     </Repository>
</RemoteRepositories>